[Desktop Entry]
Name=ESO Logs Uploader
Exec=esologs.sh
Terminal=false
Type=Application
Icon=com.esologs.Esologs
StartupWMClass=ESO Logs Uploader
X-AppImage-Version=8.2.2
Comment=ESO Logs Uploader
Categories=Utility;
